# Guided Capstone Step 4. Pre-Processing and Training Data Development

**The Data Science Method**  


1.   Problem Identification 


2.   Data Wrangling 
  
 
3.   Exploratory Data Analysis   

4.   **Pre-processing and Training Data Development**  
 * Create dummy or indicator features for categorical variables
  * Standardize the magnitude of numeric features
  * Split into testing and training datasets
  * Apply scaler to the testing set
5.   Modeling 
  * Fit Models with Training Data Set
  * Review Model Outcomes â€” Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

**<font color='teal'> Start by loading the necessary packages as we did in step 3 and printing out our current working directory just to confirm we are in the correct project directory. </font>**

In [1]:
#load python packages
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
os.getcwd()

'C:\\Users\\sanja\\Jupyter Code\\Git Hub\\Guided-Capstone'

**<font color='teal'>  Load the csv file you created in step 3, remember it should be saved inside your data subfolder and print the first five rows.</font>**

In [3]:
df = pd.read_csv('data\step3_output.csv')
df.describe().T

,count,mean,std,min,25%,50%,75%,max
summit_elev,178.0,3609.387640,3196.229228,315.0,1250.00,2000.0,6217.500000,12075.0
vertical_drop,178.0,833.561798,583.468878,175.0,353.75,650.0,1143.750000,2610.0
trams,178.0,0.000000,0.000000,0.0,0.00,0.0,0.000000,0.0
fastEight,178.0,0.000000,0.000000,0.0,0.00,0.0,0.000000,0.0
fastSixes,178.0,0.000000,0.000000,0.0,0.00,0.0,0.000000,0.0
fastQuads,178.0,0.230337,0.580065,0.0,0.00,0.0,0.000000,2.0
quad,178.0,0.528090,0.698503,0.0,0.00,0.0,1.000000,2.0
triple,178.0,1.185393,1.227928,0.0,0.00,1.0,2.000000,5.0
double,178.0,1.719101,1.480485,0.0,1.00,1.0,2.000000,6.0
surface,178.0,2.264045,1.443062,0.0,1.00,2.0,3.000000,6.0
total_chairs,178.0,5.926966,2.749474,0.0,4.00,5.0,7.000000,16.0
Runs,178.0,29.410112,17.430907,0.0,15.25,24.0,40.750000,83.0
TerrainParks,178.0,1.752809,1.396371,0.0,1.00,2.0,2.000000,6.0
LongestRun_mi,178.0,0.998315,0.752883,0.0,0.40,1.0,1.475000,4.0
SkiableTerrain_ac,178.0,228.325843,285.538456,0.0,50.00,115.0,240.000000,1500.0
Snow Making_ac,178.0,80.162921,70.938036,0.0,30.00,55.0,123.750000,300.0
daysOpenLastYear,178.0,101.915730,26.524239,40.0,82.25,101.0,120.000000,163.0
yearsOpen,178.0,59.219101,14.215941,22.0,51.25,58.0,67.750000,95.0
averageSnowfall,178.0,143.668539,106.866077,18.0,50.25,120.0,208.500000,500.0
AdultWeekday,178.0,49.778630,15.938341,17.0,39.00,49.0,57.916957,89.0
AdultWeekend,178.0,56.467466,15.442792,20.0,45.00,54.5,65.000000,93.0
projectedDaysOpen,178.0,108.842697,25.598772,42.0,92.00,105.5,125.000000,193.0
NightSkiing_ac,178.0,43.387640,47.001758,0.0,0.00,35.0,70.000000,200.0
clusters,178.0,0.578652,0.756885,0.0,0.00,0.0,1.000000,2.0

## Create dummy features for categorical variables

**<font color='teal'> Create dummy variables for `state`. Add the dummies back to the dataframe and remove the original column for `state`. </font>**

Hint: you can see an example of how to execute this in Aiden's article on preprocessing [here](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-pre-processing-and-training-data-development-fd2d75182967).

In [4]:
df = pd.concat([df.drop('state', axis=1), pd.get_dummies(df['state'])], axis=1)
df.head()

,Name,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,...,Rhode Island,South Dakota,Tennessee,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,Hilltop Ski Area,2090,294,0,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Eaglecrest Ski Area,2600,1540,0,0.0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0
2,Sunrise Park Resort,11100,1800,0,0.0,0,1,2,3,1,...,0,0,0,0,0,0,0,0,0,0
3,Cooper,11700,1200,0,0.0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,Sunlight Mountain Resort,9895,2010,0,0.0,0,0,0,1,2,...,0,0,0,0,0,0,0,0,0,0

## Standardize the magnitude of numeric features

**<font color='teal'> Using sklearn preprocessing standardize the scale of the features of the dataframe except the name of the resort which we done't need in the dataframe for modeling, so it can be droppped here as well. Also, we want to hold out our response variable(s) so we can have their true values available for model performance review. Let's set `AdultWeekend` to the y variable as our response for scaling and modeling. Later we will go back and consider the `AdultWeekday`, `dayOpenLastYear`, and `projectedDaysOpen`. For now leave them in the development dataframe. </font>**

In [5]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing 

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = df.drop(['Name','AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df.AdultWeekend 

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

In [6]:
print(X)
print(X_scaled)

     summit_elev  vertical_drop  trams  fastEight  fastSixes  fastQuads  quad  \
0           2090            294      0        0.0          0          0     0
1           2600           1540      0        0.0          0          0     0
2          11100           1800      0        0.0          0          1     2
3          11700           1200      0        0.0          0          0     0
4           9895           2010      0        0.0          0          0     0
..           ...            ...    ...        ...        ...        ...   ...
173         7428            810      0        0.0          0          0     0
174         8000            640      0        0.0          0          0     0
175         9663            990      0        0.0          0          0     0
176         9500           1100      0        0.0          0          0     0
177         7808           1571      0        0.0          0          0     1

     triple  double  surface  ...  Rhode Island  South Dakota  Tennessee  \
0         1       0        2  ...             0             0          0
1         0       4        0  ...             0             0          0
2         3       1        0  ...             0             0          0
3         1       1        2  ...             0             0          0
4         1       2        0  ...             0             0          0
..      ...     ...      ...  ...           ...           ...        ...
173       1       1        1  ...             0             0          0
174       0       1        1  ...             0             0          0
175       1       3        1  ...             0             0          0
176       2       0        0  ...             0             0          0
177       1       1        0  ...             0             0          0

     Utah  Vermont  Virginia  Washington  West Virginia  Wisconsin  Wyoming
0       0        0         0           0              0          0        0
1       0        0         0           0              0          0        0
2       0        0         0           0              0          0        0
3       0        0         0           0              0          0        0
4       0        0         0           0              0          0        0
..    ...      ...       ...         ...            ...        ...      ...
173     0        0         0           0              0          0        1
174     0        0         0           0              0          0        1
175     0        0         0           0              0          0        1
176     0        0         0           0              0          0        1
177     0        0         0           0              0          0        1

[178 rows x 58 columns]
[[-0.47670975 -0.92735681  0.         ... -0.13093073 -0.26886643
  -0.1700051 ]
 [-0.31669662  1.21417098  0.         ... -0.13093073 -0.26886643
  -0.1700051 ]
 [ 2.35018891  1.66103874  0.         ... -0.13093073 -0.26886643
  -0.1700051 ]
 ...
 [ 1.89932838  0.2688738   0.         ... -0.13093073 -0.26886643
   5.88217647]
 [ 1.84818693  0.45793324  0.         ... -0.13093073 -0.26886643
   5.88217647]
 [ 1.31731983  1.26745137  0.         ... -0.13093073 -0.26886643
   5.88217647]]

## Split into training and testing datasets

**<font color='teal'> Using sklearn model selection import train_test_split, and create a 75/25 split with the y = `AdultWeekend`. We will start by using the adult weekend ticket price as our response variable for modeling.</font>**

In [7]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test  = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

Here we start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Guided Capstone Step 5. Modeling

This is the fifth step in the Data Science Method. In the previous steps you cleaned and prepared the datasets. Now it's time to get into the most exciting part: modeling! In this exercise, you'll build three different models and compare each model's performance. In the end, you'll choose the best model for demonstrating insights to Big Mountain management.



### **The Data Science Method**  


1.   Problem Identification 

2.   Data Wrangling 
  
3.   Exploratory Data Analysis 
 
4.   Pre-processing and Training Data Development

5.   **Modeling**
  * Fit Models with Training Data Set
  * Review Model Outcomes â€” Iterate over additional models as needed.
  * Identify the Final Model

6.   Documentation
  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

## Fit Models with a Training Dataset

**<font color='teal'> Using sklearn, fit the model on your training dataset.</font>**

#### Model 1

In [8]:
#all first model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

**<font color='teal'> Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value. </font>**

Hint: you will have to use the `predict()` method here as it's used in this [DSM article](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-modeling-56b4233cad1b) about modeling.

In [9]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = model.predict(X_test)

## Review Model Outcomes â€” Iterate over additional models as needed

In [10]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model

In [11]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import explained_variance_score

mae = mean_absolute_error(y_test,y_pred)
evs = explained_variance_score(y_test,y_pred)

**<font color='teal'> Print the intercept value from the linear model. </font>**

Hint: our linear regression model `lm` has an attribute `intercept_` for the intercept

In [12]:
lm.intercept_

73651191724.98659

**<font color='teal'> The intercept is the mean `AdultWeekend` price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the resulting `AdultWeekend` value. Also, because we took the time to scale our x values in the training data, we can compare each of the coeeficients for the features to determine the feature importances. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.</font>** 


Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what we are looking for is the magnitude of impact on our response variable.

In [13]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'])

                    Coefficient
summit_elev        7.969496e-02
vertical_drop      9.503220e-01
trams              1.083040e+13
fastEight          3.159048e+13
fastSixes          6.892744e+12
fastQuads          3.620898e+12
quad               4.360216e+12
triple             7.665006e+12
double             9.241523e+12
surface            9.007920e+12
total_chairs       1.716284e+13
Runs               3.646484e+00
TerrainParks       5.390625e-01
LongestRun_mi      3.330078e-01
SkiableTerrain_ac  2.372253e+00
Snow Making_ac     2.089844e-01
daysOpenLastYear   3.088379e+00
yearsOpen          8.208008e-01
averageSnowfall    5.009766e-01
AdultWeekday       8.588867e+00
projectedDaysOpen  2.833008e+00
NightSkiing_ac     1.183594e+00
clusters           1.826172e-01
Alaska             1.381763e+12
Arizona            9.798261e+11
California         3.287055e+12
Colorado           1.942974e+12
Connecticut        2.166060e+12
Idaho              2.365932e+12
Illinois           1.687493e+12
Indiana            1.381763e+12
Iowa               1.687493e+12
Maine              2.166060e+12
Maryland           3.928781e+07
Massachusetts      1.942974e+12
Michigan           3.749556e+12
Minnesota          2.716013e+12
Missouri           1.381763e+12
Montana            1.942974e+12
Nevada             9.798261e+11
New Hampshire      3.156581e+12
New Jersey         9.798261e+11
New Mexico         2.365932e+12
New York           4.140053e+12
North Carolina     1.942974e+12
Ohio               1.942974e+12
Oregon             1.687493e+12
Pennsylvania       3.156581e+12
Rhode Island       9.798261e+11
South Dakota       9.798261e+11
Tennessee          9.798261e+11
Utah               1.687493e+12
Vermont            2.716013e+12
Virginia           1.381763e+12
Washington         1.687493e+12
West Virginia      1.687493e+12
Wisconsin          3.287055e+12
Wyoming            2.166060e+12

**<font color='teal'>You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that we care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results. </font>**

Hint: Try to construct another model using exactly the steps we followed above.

#### Model 2

In [14]:
state = ['Alaska', 'Arizona', 'California','Colorado', 'Connecticut', 'Idaho', 'Illinois', 'Indiana', 'Iowa','Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota','Missouri', 'Montana', 'Nevada', 'New Hampshire', 'New Jersey','New Mexico', 'New York', 'North Carolina', 'Ohio', 'Oregon','Pennsylvania', 'Rhode Island', 'South Dakota', 'Tennessee', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin','Wyoming']
dfn1 = df.drop(state,axis = 1)
dfn1.head()

,Name,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,double,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
0,Hilltop Ski Area,2090,294,0,0.0,0,0,0,1,0,...,30.0,30.0,150.0,36.0,69.0,30.0,34.0,152.0,30.0,0
1,Eaglecrest Ski Area,2600,1540,0,0.0,0,0,0,0,4,...,640.0,60.0,45.0,44.0,350.0,47.0,53.0,90.0,0.0,2
2,Sunrise Park Resort,11100,1800,0,0.0,0,1,2,3,1,...,800.0,80.0,115.0,49.0,250.0,74.0,78.0,104.0,80.0,1
3,Cooper,11700,1200,0,0.0,0,0,0,1,1,...,400.0,0.0,130.0,74.0,260.0,56.0,56.0,130.0,0.0,1
4,Sunlight Mountain Resort,9895,2010,0,0.0,0,0,0,1,2,...,680.0,30.0,100.0,53.0,250.0,65.0,65.0,135.0,0.0,1

In [15]:
# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = dfn1.drop(['Name','AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = dfn1.AdultWeekend 

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

In [16]:
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test  = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [17]:
lm2 = linear_model.LinearRegression()
model2 = lm2.fit(X_train,y_train)

In [18]:
y_pred2 = model2.predict(X_test)

In [19]:
mae2 = mean_absolute_error(y_test,y_pred2)
evs2 = explained_variance_score(y_test,y_pred2)

In [20]:
lm2.intercept_

56.40417481566511

In [21]:
pd.DataFrame(abs(lm2.coef_), X.columns, columns=['Coefficient'])

                    Coefficient
summit_elev        2.850003e+00
vertical_drop      2.403530e+00
trams              8.881784e-16
fastEight          4.440892e-16
fastSixes          1.776357e-15
fastQuads          2.006469e-01
quad               1.666776e+00
triple             6.769296e-01
double             1.177529e+00
surface            9.615407e-01
total_chairs       8.128221e-01
Runs               1.709680e+00
TerrainParks       1.383690e-01
LongestRun_mi      8.913290e-01
SkiableTerrain_ac  2.025204e+00
Snow Making_ac     4.556749e-01
daysOpenLastYear   2.948342e+00
yearsOpen          2.658654e-01
averageSnowfall    1.521139e+00
AdultWeekday       9.506971e+00
projectedDaysOpen  5.493037e-01
NightSkiing_ac     2.189165e-01
clusters           1.814409e+00

**<font color='teal'> When reviewing our new model coefficients, we see `summit_elev` is now in the number two spot. This is also difficult to change from a management prespective and highly correlated with `base_elev` and `vertical_drop`.  This time, rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

#### Model 3

In [25]:
dfn2 = dfn1.drop('summit_elev',axis = 1)

In [26]:
# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = dfn2.drop(['Name','AdultWeekend'], axis=1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = dfn2.AdultWeekend 

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

In [27]:
# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test  = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [28]:
lm3 = linear_model.LinearRegression()
model3 = lm3.fit(X_train,y_train)

In [29]:
y_pred3 = model3.predict(X_test)

In [30]:
mae3 = mean_absolute_error(y_test,y_pred3)
evs3 = explained_variance_score(y_test,y_pred3)

In [31]:
lm3.intercept_

56.261303098596926

In [32]:
pd.DataFrame(abs(lm3.coef_), X.columns, columns=['Coefficient'])

                    Coefficient
vertical_drop      2.622025e+00
trams              4.440892e-16
fastEight          0.000000e+00
fastSixes          1.443290e-15
fastQuads          1.445492e-01
quad               1.511005e+00
triple             2.467818e-01
double             1.230371e+00
surface            6.527320e-01
total_chairs       7.835090e-01
Runs               1.360148e+00
TerrainParks       2.492632e-01
LongestRun_mi      9.087095e-01
SkiableTerrain_ac  2.852305e+00
Snow Making_ac     1.770245e-01
daysOpenLastYear   2.608935e+00
yearsOpen          7.711019e-02
averageSnowfall    2.206525e+00
AdultWeekday       9.271628e+00
projectedDaysOpen  3.662571e-01
NightSkiing_ac     2.067043e-01
clusters           1.037428e+00

## Identify the Final Model

**<font color='teal'> Review the model performances in the table below and choose the best model for proving insights to Big Mountain management about what features are driving ski resort lift ticket prices. Type your choice in the final markdown cell â€” you will discuss this selection more in the next step of the guided casptone. </font>**

| Model | Explained Variance| Mean Absolute Error|Features Dropped|
| --- | --- | --- | --- |
| Model 1. | 0. |  |-|
| Model 2. | 0.| |'state'|
| Model 3. | 0. | |'state','summit_elev','base_elev'|

Model Selection:

In [34]:
dicti = {'Model': ['Model 1','Model 2','Model 3'],
        'Explained Variance': [evs, evs2,evs3],
        'Mean Absolute Error': [mae,mae2,mae3],
        'Features Dropped': ['-','State',['state','summit_elev']]}

In [35]:
pd.DataFrame(dicti)

     Model  Explained Variance  Mean Absolute Error      Features Dropped
0  Model 1       -1.428077e+22         2.913314e+11                     -
1  Model 2        7.652031e-01         6.179399e+00                 State
2  Model 3        7.624933e-01         6.243077e+00  [state, summit_elev]